* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}


/* FONTS */
:root {
  --mainFont: 'Fira Sans Condensed', sans-serif;
  --secondFont: 'Montserrat', sans-serif;
}

/* COLOR PALLETE */

:root {
  /* primary colors */
  --primary: rgb(0, 109, 211);
  --cyan: rgb(0, 156, 156);
  --lightCyan: rgb(113, 213, 226);
  --yellow: rgb(255, 208, 0);
  --lightYellow: rgb(252, 236, 183);
  /* mono colors */
  --black: rgb(0, 0, 0);
  --darkGray: rgb(43, 43, 43);
  --gray: rgb(112, 112, 112);
  --lightGray: rgb(189, 189, 189);
  --white: rgb(255, 255, 255);
}

/* ANIMATIONS */

@keyframes pulse-animation {
  0% {
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
  }
  100% {
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0);
  }
}
.pulse {
  animation: pulse-animation 2s infinite;
}

/*  BUTTONS */

.btn-pill {
  min-width: 8rem;
  height: 2.2rem;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  outline: none;
  border-radius: 20px;
  border: 2px solid var(--primary);
  background: var(--primary);
}
.btn-pill:hover {
  background: var(--lightYellow);
  color: var(--primary);
  border-color: var(--lightYellow);
}
.btn-pill i {
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: var(--lightYellow);
  border-radius: 50%;
  margin-left: 1.2rem;
}
.btn-pill:hover i{
  background-color: var(--primary);
  color: white;
}

.btn-pill-light {
  width: 10rem;
  height: 2.5rem;
  color: black;
  padding: 7px 10px;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  border-radius: 20px;
  border: 2px solid var(--lightYellow);
  background: var(--lightYellow);
  font-family: var(--mainFont);
}
.btn-pill-light:hover {
  background: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}
.btn-pill-light i {
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--primary);
  border-radius: 50%;
}
.btn-pill-light:hover i{
  background-color: var(--lightYellow);
  color: black;
}

/* ASSETS */

.heading-line::before {
  display: block;
  padding-top: 0.1rem;
  content: "";
  width: 10rem;
  height: 0.1rem;
  background-color: white;
  margin: 0 auto;
}
.heading-line::after {
  display: block;
  padding-top: 0.4rem;
  content: "";
  width: 2rem;
  height: 0.2rem;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 1rem;
}




/* NAV SECTION */
header,nav,.logoContainer,.navItemContainer,.navItemContainer ul,.navItemContainer li,.innerIntroContainer,.outerIntroContainer,.builtWithContainer h3,.builtWithContainer h4,.servicesContainer,.colLeft, .colRight,.servicesInnerContainer2,.colLeft2, .colRight2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 3.4rem;
  background-image: linear-gradient(to left, var(--primary), var(--white));
}
nav {
  justify-content: space-between;
  width: 100%;
  font-family: var(--secondFont);
}
.logoContainer,.introLeft {
  padding-left: 10rem;
}
.navItemContainer li {
  color: white;
  margin-left: 1.5rem;
  min-width: max-content;
  text-shadow: 1px 1px 3px black;
}
.navItemContainer a:hover {
  color: var(--lightYellow);
  cursor: pointer;
}


/* INTRO SECTION */
.outerIntroContainer {
  flex-direction: column;
  border-top: 2px solid black;
}
.innerIntroContainer {
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, black, var(--primary));
  padding-top: 3rem;
}
.introLeft, .introRight {
  display: flex;
}
.introLeft {
  flex-direction: column;
  width: 50%;
  color: white;
  font-family: var(--secondFont);
}
#intro {
  font-size: 5rem;
  text-transform: capitalize;
  padding-bottom: 2rem;
  flex-wrap: nowrap;
}
#description {
  font-size: 1.5rem;
  font-weight: 200;
  padding-bottom: 2rem;
}

/* BUILT WITH SECTION */

.builtWithContainer h3{
  border: 3px solid white;
  font-weight: 400;
  font-size: 2rem;
  font-family: var(--mainFont)
}
.builtWithContainer h4 {
  font-weight: 200;
  font-family: var(--secondFont)
}
.builtWithContainer {
  padding: 0 10rem;
}



/* SERVICES SECTION */
.servicesContainer, .servicesInnerContainer2 {
  background-image: linear-gradient(to right, black, var(--primary));
}
.servicesContainer {
  flex-direction: column;
  width: 100%;
  transform: translate(0, -4px);
  padding-top: 4rem;
}
.servicesContainer h2 {
  font-family: var(--secondFont);
  font-size: 3rem;
  color: white;
  padding-bottom: 3rem;
}
.servicesInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  padding-bottom: 2rem;
}
.colLeft, .colRight {
  flex-direction: column;
  width: 50%;
  color: white;
}
.colLeft h3{
  font-family: var(--mainFont);
  font-weight: 600;
  font-size: 1.9rem;
  padding-right: .8rem;
  text-transform: capitalize;
  width: 28rem;
  text-align: center;
}
.colRight h4{
  font-weight: 400;
  font-family: var(--secondFont);
  font-size: 1.3rem;
  padding-left: 4.8rem;
  width: 28rem;
  text-align: center;
}
.border-right {
  border-right: 1px solid white;
}
.servicesInnerContainer2 {
  flex-direction: row;
  width: 100%;
}
.colLeft2, .colRight2 {
  flex-direction: column;
  width: 30%;
  padding: 0px 3rem;
  color: var(--lightYellow);
}
.colLeft2 h3 {
  align-self: flex-start;
  font-family: var(--mainFont);
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}
.colLeft2 h4 {
  font-family: var(--secondFont);
  font-weight: 200;
}



