/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */











/* -------------------------------------------------------------------------- */
/*                                 NAV SECTION                                */
/* -------------------------------------------------------------------------- */


header {
  width: 100%;
  height: 3.4rem;
  background-color: black;
}
nav {
  width: 100%;
  font-family: var(--secondFont);
}
.logoContainer h2 {
  min-width: max-content;
  font-size: 1.5rem;
  font-family: var(--mono);
  color: white;
  font-weight: 100;
  margin-left: 10rem;
}
.navItemContainer {
  margin-right: 10rem;
}
.navItemContainer li {
  
  margin-left: 1.5rem;
  min-width: max-content;
  text-shadow: 1px 1px 3px black;
  list-style: none;
}
.navItemContainer a {
  text-decoration: none;
  color: white;
}
.navItemContainer a:hover {
  color: var(--secondary);
  cursor: pointer;
}



/* -------------------------------------------------------------------------- */
/*                                INTRO SECTION                               */
/* -------------------------------------------------------------------------- */

.innerIntroContainer {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, black, var(--primary));
  padding-top: 3rem;
  z-index: 1;
}
.introLeft, .introRight {
  display: flex;
}
.introLeft {
  flex-direction: column;
  width: 50%;
  color: white;
  font-family: var(--mono);
  padding-left: 1.5rem;
}
.introRight {
  padding-right: 1.5rem;
}
#intro {
  font-size: 5rem;
  text-transform: capitalize;
  padding-bottom: 2rem;
}
#description {
  font-size: 1.5rem;
  font-weight: 200;
  padding-bottom: 2rem;
}



/* -------------------------------------------------------------------------- */
/*                             BUILT WITH SECTION                             */
/* -------------------------------------------------------------------------- */

.builtWithContainer h3{
  border: 3px solid white;
  font-weight: 400;
  font-size: 2rem;
  font-family: var(--mainFont)
}
.builtWithContainer h4 {
  font-weight: 200;
  font-family: var(--secondFont)
}
.builtWithContainer {
  padding: 0 10rem;
}



/* -------------------------------------------------------------------------- */
/*                              SERVICES SECTION                              */
/* -------------------------------------------------------------------------- */

.servicesContainer {
  background-image: linear-gradient(to right, black, var(--primary));
}
.servicesContainer {
  width: 100%;
  transform: translate(0, -4px);
  padding-top: 4rem;
}
.servicesContainer h2 {
  font-family: var(--secondFont);
  font-size: 3rem;
  color: white;
  padding-bottom: 3rem;
}
.servicesInnerContainer {
  width: 60%;
  padding-bottom: 2rem;
}
.colLeft, .colRight {
  width: 50%;
  color: white;
}
.colLeft h3{
  font-family: var(--mainFont);
  font-weight: 600;
  font-size: 1.9rem;
  padding-right: .8rem;
  text-transform: capitalize;
  width: 28rem;
  text-align: center;
}
.colRight h4{
  font-weight: 400;
  font-family: var(--secondFont);
  font-size: 1.3rem;
  padding-left: 4.8rem;
  width: 28rem;
  text-align: center;
}



/* -------------------------------------------------------------------------- */
/*                              PROJECTS SECTION                              */
/* -------------------------------------------------------------------------- */

.projectsSection {
  background-image: linear-gradient(to right, black, var(--primary));
  transform: translate(0, -8px)
}
.projectsContainer{
  width: 909px;
  height: 606px;
}
.projectsSection h3 {
  color: white;
  padding-top: 5rem;
  font-family: var(--secondFont);
  font-weight: 200;
  font-size: 3rem;
  text-transform: capitalize;
}
.project {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 250px;
  border: 1px solid white;
  cursor: pointer;
}

